<!DOCTYPE html>
<html>
<head>
    <style>
        body{
  font-family:Times New Roman, Helvetica, sans-serif;
  background-color: #c6f7e9;
    </style>

    <title>Delete Task</title>
</head>
<body>
    <h1>Are you sure you want to delete the task "{{ task.name }}" assigned to {{ task.assigned_to }} ?</h1>
    <form method="post">
        {% csrf_token %}
        <center><input type="submit" value="Delete" style="background-color:#1c5959 color: white  "></center>
        <center><a href="{% url 'task_list' %}">Cancel</a></center>
    </form>
</body>
</html>